RewriteEngine On

# Nếu là thư mục hoặc file có thật thì bỏ qua
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Đẩy mọi thứ vào sau index.php/
# Lưu ý: Không có dấu hỏi chấm (?) ở đây
RewriteRule ^(.*)$ index.php/$1 [L,QSA]